<div class="flip flip-vertical">
  <div class="front">
    <img src="{{image}}" alt="Thestral" />
  </div>
  <div class="back">
    <h1>Thestral</h1>
    <h2>Species: Animal</h2>
    <p>Description: {{description}}
    </p>
    <a href="{{_id}}/details" class="details">Details</a>
  </div>
</div>