<div class="my-card">
  <div class="card-header">
    <img src="" />
  </div>
  <div class="card-body">
    <span class="tag tag-teal">Species: {{species}}</span>
    <h4>
      Name: {{heroe.name}}
    </h4>
    <div class="user">
      <div class="user-info">
        <h5>Author: {{creatorFirstName}} {{creatorLastName}}</h5>
        <small>Rating of votes: </small>
        <a href="#" class="details_btn">Details</a>

      </div>
    </div>
  </div>
</div>