<main>

    <section id="gallery">
        <h1>Gallery</h1>
        {{#if gallery}}
        <article class="gallery-container">
                {{#each gallery}}
                    {{>gallery}}
                {{/each}}

            {{else}}
            <article class="no-available-publications">
                    <h1>No publications created yet.</h1>
                    <a href="#" class="create-pub">Create publication</a>
            </article>
            {{/if}}
        </article>
    </section>

</main>